<!DOCTYPE html>
<html>

<head>
  <title>Tweet Comparisons</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .side-by-side{
      display: flex;
    }
    .tweet{
      margin: 16px;
      box-shadow: 0px 0px 6px 0px #bbb;
      border-radius: 16px;
      padding: 16px;
      font-weight: bold;
    }
    .truth{
      background-color:rgb(198, 255, 236)
    }
    .rec{
      background-color:rgb(255, 228, 233)
    }
    .loose{
      background-color:gainsboro
    }
  </style>
</head>

<body>
  <div id="app"> 
     <p>Paste compare.json in here</p>
    <input v-model="message" placeholder="json"></input>
    <button v-on:click="show">Show</button>
    <div v-for="(rec, index) in json">
        <p>
          User: {{index}}
        </p>
        <p>
          Latent Factors: {{rec.user}}
        </p>
        <div class="side-by-side">
          <div>
            <div class = "tweet truth" v-for="tweet in rec.truth">
              <p>{{tweet.text}}</p>
              <p>{{tweet.tag}}</p>
            </div>
          </div>
          <div>
            <div class = "tweet rec" v-for="tweet in rec.rec">
              <p>{{tweet.text}}</p>
              <p>{{tweet.tag}}</p>
            </div>
          </div>
          <div>
            <div class = "tweet loose" v-for="tweet in rec.loose">
              <p>{{tweet.text}}</p>
              <p>{{tweet.tag}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>


  <script>
    var app = new Vue({
      el: '#app',
      data: {
         message: '',
         json: []
      },
      methods: {
         show () {
            this.json = JSON.parse(this.message)
         }
      }
    });
    
  </script>
</body>

</html>
